#subfeature-tabs-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 400px;
    max-width: 30%;
    max-height: 45%;
    overflow: auto;
    z-index: 1;
}

#tabs {
    display: flex;
    gap: 5px;
}

.tab {
    padding: 15px 20px;
    background: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.tab.active {
    background: cyan;
    font-weight: bold;
    color: #000;
}

#tab-content {
    background: #222;
    color: white;
    padding: 20px;
    border-radius: 5px;
    display: none;
}

.hidden {
    display: none !important; 
}
